<!DOCTYPE html>
<html>
<head>
    <title>Quiz History</title>
</head>
<body>
    <h1>Quiz History</h1>
    <ul>
        {% for quiz in quiz_history %}
            <li>
                <h3>Quiz Attempt</h3>
                <div>
                    <strong>Song 1:</strong> {{ quiz['Song 1 Name'] }}
                    {% for feature_key in ['acousticness', 'danceability', 'duration_ms', 'energy', 'liveness', 'loudness', 'tempo', 'valence'] %}
                    <p>{{ feature_key }}: {{ quiz['Song 1 Features'][feature_key] }}</p>
                    {% endfor %}
                </div>
                <div>
                    <strong>Song 2:</strong> {{ quiz['Song 2 Name'] }}
                    {% for feature_key in ['acousticness', 'danceability', 'duration_ms', 'energy', 'liveness', 'loudness', 'tempo', 'valence'] %}
                    <p>{{ feature_key }}: {{ quiz['Song 2 Features'][feature_key] }}</p>
                    {% endfor %}               
                </div>
                <div><strong>Result:</strong> {{ quiz['Result'] }}</div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
