<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Quiz</title>
    <link rel="stylesheet" href="/static/css/welcome_style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to the Spotify Quiz!</h1>
            <p>Let's test your music knowledge...</p>
        </header>
        <section class="quiz-intro">
            <p>Are you ready to challenge yourself with our music quiz based off of your Spotify listening metrics?</p>
            <a href='/login' class="button"> Login with Spotify</a>
        </section>
        <footer>
            <p>Powered by the Spotify API</p>
        </footer>
    </div>
</body>
</html>
